<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key><string>com.test.speechtest</string>
  <key>CFBundleName</key><string>speechtest</string>
  <key>NSMicrophoneUsageDescription</key><string>ASR pipeline test</string>
  <key>NSSpeechRecognitionUsageDescription</key><string>ASR pipeline test</string>
</dict>
</plist>
